@model AdminLTE.Models.ViewModels.EmployeesLocalCommunitiesVM
@using AdminLTE.Helpers
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@*//TODO: Якщо вийде, зробити якусь анмацію на появу картинки*@
<style>
    .tdImg {
        display: none;
    }

    .forHover:hover .tdImg {
        display: inline-block;
    }

    table {
        font-size: 14pt;
        text-align: center;
    }
</style>

@if (Model.Mode == AdminLTE.Models.ViewModels.IndexMode.Show)
{
    <h1>Усі працівники</h1>
    <h5>Наведіть на індекс для появи фото</h5>
}
else if (Model.Mode == AdminLTE.Models.ViewModels.IndexMode.SelectForEdit)
{
    <h2>Редагування працівника</h2>
    <h5>Натисніть для редагування</h5>
}
else if (Model.Mode == AdminLTE.Models.ViewModels.IndexMode.SelectForRemove)
{
    <h2>Видалення працівника</h2>
    <h5>Натисніть для видалення</h5>
}

<form>
    <div class="row justify-content-end my-3">
        <select asp-for="Filter.LCId" asp-items="@Model.LocalCommunities" class="px-2">
            <option selected>Усі ОТГ</option>
        </select>
        <input type="submit" value="Пошук" class="btn btn-primary ml-3 px-2" />
    </div>
</form>

<div class="row">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Індекс</th>
                <th scope="col">Прізвище</th>
                <th scope="col">Ім'я'</th>
                <th scope="col">По-батькові</th>
                <th scope="col">Телефон</th>
                <th scope="col">ОТГ</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 1;}
            @foreach (var el in Model.Employees)
            {
                @if (Model.Mode != AdminLTE.Models.ViewModels.IndexMode.Show)
                {
                    <tr class="tableRow">
                        <td class="tdButtons" hidden>
                            @if (Model.Mode == AdminLTE.Models.ViewModels.IndexMode.SelectForRemove)
                            {
                                <form action="\Employee\Remove\" method="post">
                                    <input value="@el.Id" name="id" hidden />
                                    <button type="button" class="btn btnCancel"><i class="far fa-times-circle"></i></button>
                                    <button type="submit" class="btn btnOk"><i class="far fa-check-circle"></i></button>
                                </form>
                            }
                            @if (Model.Mode == AdminLTE.Models.ViewModels.IndexMode.SelectForEdit)
                            {
                                <form action="\Employee\Edit\" method="post">
                                    <input value="@el.Id" name="id" hidden />
                                    <button type="button" class="btn btnCancel"><i class="far fa-times-circle"></i></button>
                                    <button type="submit" class="btn btnOk"><i class="far fa-check-circle"></i></button>
                                </form>
                            }
                        </td>
                        <th scope="row" class="forHover">
                            @((Model.PageInfo.PageNumber - 1) * (Model.PageInfo.PageSize) + counter)
                            <div class="tdImg position-absolute">
                                <img src="@String.Concat(@AdminLTE.ENV.ImagePath, el.PhotoPath)" alt="Worker photo" width="200" />
                            </div>
                        </th>
                        <td>@el.LastName</td>
                        <td>@el.FirstName</td>
                        <td>@el.MiddleName</td>
                        <td>@el.Number</td>
                        <td>@el.LocalCommunity.Title</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th scope="row" class="forHover">
                            @((Model.PageInfo.PageNumber - 1) * (Model.PageInfo.PageSize) + counter)
                            <div class="tdImg position-absolute">
                                <img src="@String.Concat(@AdminLTE.ENV.ImagePath, el.PhotoPath)" alt="Worker photo" width="200" />
                            </div>
                        </th>
                        <td>@el.LastName</td>
                        <td>@el.FirstName</td>
                        <td>@el.MiddleName</td>
                        <td>@el.Number</td>
                        <td>@el.LocalCommunity.Title</td>
                    </tr>
                }
                counter++;
            }
        </tbody>
    </table>

    <div class="btn-group m-auto">
        @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
        {
            if (i == Model.PageInfo.PageNumber)
            {
                <a href="@Url.Action("Index", new { otherVm = Model, page = i })" class="btn selected btn-primary">@i.ToString()</a>
            }
            else
            {
                <a href="@Url.Action("Index", new { otherVm = Model, page = i })" class="btn btn-default">@i.ToString()</a>
            }
        }
    </div>
</div>

<script>
    var rowsHover = document.getElementsByClassName("tableRow");

    for (var i = 0; i < rowsHover.length; i++) {
        rowsHover[i].onclick = EnableControlBtns;
    }

    var btnsCancel = document.getElementsByClassName("btnCancel");

    for (var i = 0; i < btnsCancel.length; i++) {
        btnsCancel[i].onclick = DenyRemove;
    }

    function EnableControlBtns(event) {
        var row = event.target.closest("tr");
        row.setAttribute("class", "tableRow bg-danger")

        row.getElementsByClassName("tdButtons")[0].hidden = false;
        row.getElementsByClassName("forHover")[0].hidden = true;
    }

    function DenyRemove(event) {
        var row = event.target.closest("tr");

        row.setAttribute("class", "tableRow")
        row.getElementsByClassName("tdButtons")[0].hidden = true;
        row.getElementsByClassName("forHover")[0].hidden = false;
    }
</script>
