@model AdminLTE.Models.ViewModels.LocalCommunityVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<style>
    table {
        font-size: 16pt;
    }

    .lcRow button {
        color: gray;
    }

        .lcRow button:hover {
            color: black;
        }

    h2 {
        margin-bottom: 20px;
    }
</style>

<h2>Об'єднані територіальні громади</h2>

<div class="row">
    <div class="col-9">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Індекс</th>
                    <th scope="col">Назва</th>
                    <th scope="col">К-сть працівників</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                @{int counter = 1; }
                @foreach (var el in Model.LocalCommunities)
                {
                    @using (Html.BeginForm("Remove", "LocalCommunity", new { id = el.Id }, FormMethod.Post))
                    {
                        <tr class="lcRow">
                            <th scope="row">@counter</th>
                            <td class="titleData"><input id="titleInput" class="titleInput" type="text" value="@el.Title" hidden /><span class="titleText">@el.Title</span></td>
                            <td>@el.Employees.Count()</td>
                            <td>
                                <button type="button" class="btn btnRemove"><i class="fas fa-trash-alt"></i></button>
                                <button type="button" class="btn btnEdit"><i class="fas fa-pen"></i></button>
                                <button type="button" class="btn btnCancel" hidden><i class="far fa-times-circle"></i></button>
                                <button type="submit" class="btn btnOk" hidden><i class="far fa-check-circle"></i></button>
                                <input class="hiddenID" value="@el.Id" hidden />
                            </td>
                        </tr>
                    }
                    counter++;
                }
            </tbody>
        </table>

    </div>
    <div class="col-3">
        <div class="sticky-top border border-dark rounded bg-white p-2">
            @using (Html.BeginForm("ChooseOption", "LocalCommunity", FormMethod.Post))
            {
                <h4 id="addTitle">Добавлення нової територіальної громади</h4>
                <div class="col-10">
                    <div class="row my-3">
                        <input id="inputTitle" asp-for="LocalCommunity.Title" class="form-control" placeholder="Назва ОТГ" name="title" />
                        <span class="text-danger" asp-validation-for="LocalCommunity.Title"></span>
                        <input id="hiddenId" value="-1" asp-for="LocalCommunity.Id" name="id" hidden />
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="col">
                                <input id="btnConfirmTitle" type="submit" value="Добавити" class="btn btn-success" />
                            </div>
                            <div class="col">
                                <input id="btnClearField" type="button" value="Очистити" class="btn btn-secondary" />
                            </div>
                        </div>
                    </div>
                </div>
                //TODO: Навести красоти, якось було видно що нас перекидає туди при едіті. ВАЛІДАЦІЯ
            }
        </div>
    </div>
</div>
@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}*@
    <script src="~/js/localCommunityScript.js"></script>